trunk/test/CME-UITSv1.3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:cme-uits="http://www.udirector.net/schemas/2011/cme-uits/1.3"
    targetNamespace="http://www.udirector.net/schemas/2011/cme-uits/1.3">
    <xs:element name="CME-UITS">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="metadata">
                    <xs:complexType>
                        <xs:sequence>

                            <xs:element name="nonce">
                                <xs:annotation>
                                    <xs:documentation>The nonce is an 8 digit Base64 encoded random value generated at the time of sale that is used to randomize the hash computation of the signature value for security purposes.</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:length value="8"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>

                            <xs:element name="Distributor" type="xs:string">
                                <xs:annotation>
                                    <xs:documentation>This is the retailer or distributor’s name (the name of the company that has the record of sale).</xs:documentation>
                                </xs:annotation>
                            </xs:element>

                            <xs:element name="Time" type="xs:dateTime">
                                <xs:annotation>
                                    <xs:documentation>The date and time of the purchase (not download or signature) in ISO 8601 format. </xs:documentation>
                                </xs:annotation>
                            </xs:element>

                            <xs:element name="ProductID">
                                <xs:annotation>
                                    <xs:documentation>The Product ID identifies the release using a UPC or GRID (the only two legal type values). The completed attribute is optional for CME-UITS, see the spec for more details. </xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="type" use="required">
                                                <xs:simpleType>
                                                  <xs:restriction base="xs:NCName">
                                                  <xs:enumeration value="UPC"/>
                                                  <xs:enumeration value="GRID"/>
                                                  </xs:restriction>
                                                </xs:simpleType>
                                            </xs:attribute>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>

                            <xs:element name="TID">
                                <xs:annotation>
                                    <xs:documentation>TID is the unique identifier for the transaction.  Currently the only valid version is “1”.</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="version" use="required">
                                                <xs:simpleType>
                                                  <xs:restriction base="xs:unsignedInt">
                                                  <xs:enumeration value="1"/>
                                                  </xs:restriction>
                                                </xs:simpleType>
                                            </xs:attribute>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>

                            <xs:element name="URL" maxOccurs="unbounded" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>URL is an optional way to include URLs of defined types.  See the spec for an explanation of valid types. </xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:anyURI">
                                            <xs:attribute name="type" use="required">
                                                <xs:simpleType>
                                                  <xs:restriction base="xs:NCName">
                                                  <xs:enumeration value="WCOM"/>
                                                  <xs:enumeration value="WCOP"/>
                                                  <xs:enumeration value="WOAF"/>
                                                  <xs:enumeration value="WOAR"/>
                                                  <xs:enumeration value="WOAS"/>
                                                  <xs:enumeration value="WORS"/>
                                                  <xs:enumeration value="WPAY"/>
                                                  <xs:enumeration value="WPUB"/>
                                                  <xs:enumeration value="KeyURI"/>
                                                  </xs:restriction>
                                                </xs:simpleType>
                                            </xs:attribute>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>

                            <xs:element minOccurs="0" name="PA">
                                <xs:annotation>
                                    <xs:documentation>PA is an optional way to specify parental advisory information. </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:NCName">
                                        <xs:enumeration value="unspecified"/>
                                        <xs:enumeration value="explicit"/>
                                        <xs:enumeration value="edited"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>

                            <xs:element minOccurs="0" name="Copyright">
                                <xs:annotation>
                                    <xs:documentation>Copyright is an optional way to indicate copyright information.  The URI is only expected when the value attribute is "other"</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:anyURI">
                                            <xs:attribute name="value" use="required">
                                                <xs:simpleType>
                                                  <xs:restriction base="xs:NCName">
                                                  <xs:enumeration value="unspecified"/>
                                                  <xs:enumeration value="allrightsreserved"/>
                                                  <xs:enumeration value="prerelease"/>
                                                  <xs:enumeration value="other"/>
                                                  </xs:restriction>
                                                </xs:simpleType>
                                            </xs:attribute>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>

                            <xs:element name="Extra" maxOccurs="unbounded" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>An optional field that can be used to include arbitrary additional information.</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="type" type="xs:string" use="optional"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>

                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="signature">
                    <xs:annotation>
                        <xs:documentation>Contains the base64 encoded signature. The algorithm attribute is one of RSA2048 or DSA2048.  Canonicalization is currently only "none".</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:base64Binary">
                                <xs:attribute name="algorithm" use="required">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:NCName">
                                            <xs:enumeration value="RSA2048"/>
                                            <xs:enumeration value="DSA2048"/>
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:attribute>
                                <xs:attribute name="canonicalization" use="required">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:NCName">
                                            <xs:enumeration value="none"/>
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:attribute>
                                <xs:attribute name="keyID" type="xs:string" use="required"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
